{
  "semi": true,
  "singleQuote": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "trailingComma": "es5",
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "tabWidth": 2,
  "printWidth": 110,
  "organizeImportsSkipDestructiveCodeActions": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "jsx", "classProperties", "decorators"],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^@nestjs/(.*)$",
    "^[@/].*",
    "^[./]",
    "^[../]"
  ],
  "importOrderCaseInsensitive": true,
  "importOrderCombineTypeAndValueImports": true,
  "importOrderMergeDuplicateImports": true
}
